<!DOCTYPE html>
<html>
<head>
	<title>KeumAdvisor, The Vision Of A Good Man</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../css/ressources.css">
	<link rel="stylesheet" type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
</head>
<body>
<div class="contenu">
<!--*******************Header******************-->
<div class="ui menu">
  		<div class="header item" >
    		KeumAdvisor
  		</div>
  		<a class="item">
    		KeumAdvisor ?
  		</a>
  		<a class="item">
    		Chercher un keum
  		</a>
  		<a class="item">
    		Poster une fiche Keum
  		</a>
  		<a class="item">
    		Se Déconnecter
  		</a>
  		
</div>
<!--*******************Contain******************-->

<div class="left">
<div class="ui column grid">
<div class="ui people shape">
  		<div class="sides">
    		<div class="active side">
      			<div class="ui card">
        			<div class="image">
          				<img src="../images/moi_connard.jpg">
        			</div>
        			<div class="content">
          			<div class="header">Charles Dacquay</div>
          			<div class="meta">
            			<a>Profil et caractère</a>
          			</div>
          			<div class="description">
            		Plutot énergique, grosse libido, plutot professionelementt dynamique.
            		Ses passions passent avant tout.
          			</div>
        		</div>
        		<div class="extra content">
          		<span class="right floated">
            	Joined in 2017
          		</span>
          		<span>
            	<i class="user icon"></i>
            	3 Ex l'ont notés
          		</span>
        		</div>
      		</div>
    	</div>
    	<div class="side">
     	<div class="ui card">
        	<div class="image">
          		<img src="/images/avatar/large/stevie.jpg">
        	</div>
        	<div class="content">
        	<a class="header">Stevie Feliciano</a>
         	<div class="meta">
            <span class="date">Joined in 2014</span>
          	</div>
          	<div class="description">
            Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
          	</div>
        </div>
        <div class="extra content">
          <a><i class="user icon"></i>
            22 Friends
          </a>
        </div>
      	</div>
    	</div>
</div>
</div>
</div>
</div>

<div class="right">
	<div id="notation">
		<div class="ui form">
		  <div class="grouped fields">
		    <label for="trompe">Vous a-t-il déjà trompé :</label>
		    <br>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="trompe" checked="" tabindex="0" class="hidden">
		        <label>jamais</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="trompe" tabindex="0" class="hidden">
		        <label>Un baiser</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="trompe" tabindex="0" class="hidden">
		        <label>Une fois</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="trompe" tabindex="0" class="hidden">
		        <label>A de nombreuses reprises</label>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="ui form">
		  <div class="grouped fields">
		    <label for="pn">Est-il pervers narcissique :</label>
		    <br>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="pn" checked="" tabindex="0" class="hidden">
		        <label>Non</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="pn" tabindex="0" class="hidden">
		        <label>Je ne sais pas</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="pn" tabindex="0" class="hidden">
		        <label>Eventuelement</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="pn" tabindex="0" class="hidden">
		        <label>Oui</label>
		      </div>
		    </div>
		  </div>

		  <div class="ui form">
		  <div class="grouped fields">
		    <label for="atteint">Vous a-t-il moralement atteint :</label>
		    <br>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="atteint" checked="" tabindex="0" class="hidden">
		        <label>Non</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="atteint" tabindex="0" class="hidden">
		        <label>Oui un peu</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="atteint" tabindex="0" class="hidden">
		        <label>Oui moyenement</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="atteint" tabindex="0" class="hidden">
		        <label>Oui beaucoup</label>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="ui form">
		  <div class="grouped fields">
		    <label for="tape">Vous a-t-il tapé :</label>
		    <br>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="tape" checked="" tabindex="0" class="hidden">
		        <label>Non</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="tape" tabindex="0" class="hidden">
		        <label>Oui un peu</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="tape" tabindex="0" class="hidden">
		        <label>Oui</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="tape" tabindex="0" class="hidden">
		        <label>Oui beaucoup</label>
		      </div>
		    </div>
		  </div>
		  		<div class="ui form">
		  <div class="grouped fields">
		    <label for="mechant">Est-il méchant :</label>
		    <br>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="mechant" checked="" tabindex="0" class="hidden">
		        <label>Non</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="mechant" tabindex="0" class="hidden">
		        <label>Oui un peu</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="mechant" tabindex="0" class="hidden">
		        <label>Oui</label>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui radio checkbox">
		        <input type="radio" name="mechant" tabindex="0" class="hidden">
		        <label>Oui, très</label>
		      </div>
		    </div>
		  </div>
		  <div class="ui form">
  			<div class="field">
    			<label>Pourquoi avez-vous rompu?</label>
    			<input type="text">
  			</div>
  			</div>
  			<br>
  			<div class="ui blue labeled submit icon button">
			      <i class="icon edit"></i> sauvegarder mes réponses.
			 </div>
</div>
</div>
<div id="level_connard">
		<p>Niveau de Saloperie:</p>
		<div class="ui progress">
	  		<div class="bar" style="transition-duration: 300ms; width: 20%">
	    	<div class="progress">20%</div>
	  		</div>
		</div>
</div>
	
	
</div>

<!--*******************Footer******************-->
</div>
</body>
</html>