<!DOCTYPE html>
<html>
<head>
	<title>KeumAdvisor, The Vision Of A Good Man</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../css/ressources.css">
	<link rel="stylesheet" type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">>
</head>
<body>
<div class="contenu">
<!--*******************Header******************-->
	<div class="ui menu">
  		<div class="header item" >
    		KeumAdvisor
  		</div>
  		<a class="item">
    		KeumAdvisor ?
  		</a>
  	</div>

<!--*******************Contain******************-->
<div id="image_fond"></div>
<div>
	<p id="brutal">Fini les malotrus avec<br> KeumAdvisor</p>
</div>
<button id="login_facebook">
	<a id="text_facebook">Log in avec Facebook</a>
</button>

<!--*******************Footer******************-->
</div>
<script type="text/javascript" href="../js/script.js"></script> 
</body>
</html>