<!DOCTYPE html>
<html>
<head>
	<title>KeumAdvisor, The Vision Of A Good Man</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../css/ressources.css">
	<link rel="stylesheet" type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js">

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">

</head>
<body>
<div class="contenu">
<!--*******************Header******************-->
	<div class="ui menu">
  		<div class="header item" >
    		KeumAdvisor
  		</div>
  		<a class="item">
    		KeumAdvisor ?
  		</a>
  	</div>
<!--*******************contain******************-->
<div id="texte_presentation">
		<h4 class="ui horizontal divider header">
  			<i class="users icon"></i>
  			L'histoire/Pourquoi ?
		</h4>
		
		<div class="ui raised segment">
		  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
		</div>
		
		<h4 class="ui horizontal divider header">
  		<i class="users icon"></i>
  		L equipe
		</h4>
		<div class="ui four column grid">
  		<div class="row">
    		<div class="column">
    			<img class="ui small circular image" src="../images/elise.jpg" id="photos_fondateurs">
    			<p id="fondateur_descr"> Elise la codeuse et CEO de la team</p>
    		</div>
    		<div class="column">
    			<img class="ui small circular image" src="../images/moi_connard.jpg" id="photos_fondateurs">
    			<p id="fondateur_descr">Charles le traitre à sa cause</p>
    		</div>
    		<div class="column">
    			<img class="ui small circular image" src="../images/alice.jpg" id="photos_fondateurs">
    			<p id="fondateur_descr">Alice see croit encore au pays des merveilles</p>
    		</div>
    		<div class="column">
    			<img class="ui small circular image" src="../images/ombline.jpg" id="photos_fondateurs">
    			<p id="fondateur_descr">Ombine la rigoriste</p>
    		</div>
    		<div class="column"></div>
  		</div>		
		<h4 class="ui horizontal divider header">
  		<i class="users icon"></i>
  		Comment ?
		</h4>

    <div class="ui raised segment">
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    </div>
		<br>
    <br>
    <br>
</div>
<!--*******************footer******************-->
</div>
<script type="text/javascript" href="../js/script.js"></script> 
</body>
</html>