<!DOCTYPE html>
<html>
<head>
	<title>KeumAdvisor, The Vision Of A Good Man</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../css/ressources.css">
	<link rel="stylesheet" type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">

</head>
<body>
<div class="contenu">
<!--*******************Header******************-->
	<div class="ui menu">
  		<div class="header item" >
    		KeumAdvisor
  		</div>
  		<a class="item">
    		KeumAdvisor ?
  		</a>
  		<a class="item">
    		Chercher un keum
  		</a>
  		<a class="item">
    		Poster une fiche Keum
  		</a>
  		<a class="item">
    		Se Déconnecter
  		</a>
  	</div>
<!--*******************Contain******************-->

<div class="left">
<div class="ui column grid">
<div class="ui people shape">
  		<div class="sides">
    		<div class="active side">
      			<div class="ui card">
        			<div class="image">
          				<img src="../images/moi_connard.jpg">
        			</div>
        			<div class="content">
          			<div class="header">Charles Dacquay</div>
          			<div class="meta">
            			<a>Profil et caractère</a>
          			</div>
          			<div class="description">
            		Plutot énergique, grosse libido, plutot professionelement dynamique.
            		Ses passions passent avant tout.
          			</div>
        		</div>
        		<div class="extra content">
          		<span class="right floated">
            	Joined in 2017
          		</span>
          		<span>
            	<i class="user icon"></i>
            	3 Ex l'ont notés
          		</span>
        		</div>
      		</div>
    	</div>
        <div class="extra content">
          <a><i class="user icon"></i>
            22 Friends
          </a>
        </div>
      	</div>
    	</div>
</div>
</div>
</div>
</div>

<div class="right">
	<div id="notation">
		<div class="ui segment">
	  <div class="ui relaxed divided list">
	    <div class="item">
	      <div class="content">
	        <div class="header">Vous a-t-il trompé?</div>
	        Jamais
	      </div>
	    </div>
	    <div class="item">
	      <div class="content">
	        <div class="header">Est-il Pervers narcissique?</div>
	        Je ne crois pas
	      </div>
	    </div>
	    <div class="item">
	      <div class="content">
	        <div class="header">Vous a-t-il moralement atteint?</div>
	        Oui
	      </div>
	    </div>
	    <div class="item">
	      <div class="content">
	        <div class="header">Vous a-t-il tapé?</div>
	        Jamais
	      </div>
	    </div>
	    <div class="item">
	      <div class="content">
	        <div class="header">Est-il méchant?</div>
	        Non
	      </div>
	    </div>
	    <div class="item">
	      <div class="content">
	        <div class="header">Pourquoi avez-vous rompu?</div>
	        Car il a trop d'orgueil et de fierté
	      </div>
	    </div>
	  </div>
		</div>	
	</div>
	<div id="level_connard">
		<p>Niveau de Saloperie:</p>
		<div class="ui progress">
	  		<div class="bar" style="transition-duration: 300ms; width: 20%">
	    	<div class="progress">20%</div>
	  		</div>
		</div>
	</div>
	<div id="comms">
			<div class="ui threaded comments">
			  <h3 class="ui dividing header">Comments</h3>
			  <div class="comment">
			    <a class="avatar">
			      <img src="moi_connard.jpg">
			    </a>
			    <div class="content">
			      <a class="author">Matt</a>
			      <div class="metadata">
			        <span class="date">Today at 5:42PM</span>
			      </div>
			      <div class="text">
			        How artistic!
			      </div>
			      <div class="actions">
			        <a class="reply">Reply</a>
			      </div>
			    </div>
			  </div>
			  <div class="comment">
			    <a class="avatar">
			      <img src="elise.jpg">
			    </a>
			    <div class="content">
			      <a class="author">Elliot Fu</a>
			      <div class="metadata">
			        <span class="date">Yesterday at 12:30AM</span>
			      </div>
			      <div class="text">
			        <p>This has been very useful for my research. Thanks as well!</p>
			      </div>
			      <div class="actions">
			        <a class="reply">Reply</a>
			      </div>
			    </div>
			    <div class="comments">
			      <div class="comment">
			        <a class="avatar">
			          <img src="elise.jpg">
			        </a>
			        <div class="content">
			          <a class="author">Jenny Hess</a>
			          <div class="metadata">
			            <span class="date">Just now</span>
			          </div>
			          <div class="text">
			            Elliot you are always so right :)
			          </div>
			          <div class="actions">
			            <a class="reply">Reply</a>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			  <div class="comment">
			    <a class="avatar">
			      <img src="moi_connard.jpg">
			    </a>
			    <div class="content">
			      <a class="author">Joe Henderson</a>
			      <div class="metadata">
			        <span class="date">5 days ago</span>
			      </div>
			      <div class="text">
			        Dude, this is awesome. Thanks so much
			      </div>
			      <div class="actions">
			        <a class="reply">Reply</a>
			      </div>
			    </div>
			  </div>
			  <form class="ui reply form"  id="reponse" >
			    <div class="field" id="reponse">
			      <textarea  id="reponse"></textarea>
			    </div>
			    <div class="ui blue labeled submit icon button">
			      <i class="icon edit"></i> Add Reply
			    </div>
			  </form>
			</div>
	</div>
</div>

<!--*******************Footer******************-->
</div>
<script type="text/javascript" href="../js/script.js"></script> 
</body>
</html>