<!DOCTYPE html>
<html>
<head>
	<title>KeumAdvisor, The Vision Of A Good Man</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../css/ressources.css">
	<link rel="stylesheet" type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">

</head>
<body>
<div class="contenu">
<!--*******************Header******************-->
<div class="ui menu">
  		<div class="header item" >
    		KeumAdvisor
  		</div>
  		<a class="item">
    		KeumAdvisor ?
  		</a>
  		<a class="item">
    		Chercher un keum
  		</a>
  		<a class="item">
    		Poster une fiche Keum
  		</a>
  		<a class="item">
    		Se Déconnecter
  		</a>
</div>

<!--*******************Contain******************-->

<div id="chercher_moi">
<div class="ui fluid action input" >
  <input type="text" placeholder="Cherche un Keum" id="search">
  <div class="ui button">Chercher</div>
</div>
</div>
<div id="top">
	<a id="creme">Le Top 10 des salopards</a>
	
	<div id="top_connards">
		<div class="ui five column grid">
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
		</div>
		<div class="ui five column grid">
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
  			<div class="column">
    			<div class="ui segment">
      				<img src="../images/moi_connard.jpg" id="image_connard">
    			</div>
  			</div>
		</div>
	</div>
</div>

<!--*******************Footer******************-->
</div>
<script type="text/javascript" src="../js/script.js"></script> 
</body>
</html>